body{
    color: black;
    font-style: normal;
    font-weight: bold;
    background-image: url('../images/fond.jpg');
    background-size: cover(100vh - 60px);
}
img{
    max-width: 100%;
    height: 80%;
    border: black solid 2px;
    border-radius: 10px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.reset_button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.case{
    max-width: 180px;
    max-height: 180px;
}
.temps_max{
    color: red;
}
p{
    font-size: 18px;
    color: black;
    font-weight: bolder;
}
span{
    font-size: 18px;
    color: black;
    font-weight: bolder;
    margin-bottom: 15px;
}